#mainAnchor {
    -fx-background-color: #EEF0EB;
}
#lblLogin {
    -fx-background-radius: 30;
    -fx-text-alignment: center;
    -fx-background-color: #618DAB;
    -fx-text-fill: white;
}
#btnLogin {
    -fx-background-radius: 15;
}
#txtUsername {
    -fx-background-radius: 30;
}
#txtPassword {
    -fx-background-radius: 30;
}